<header class="header-nav">
   <h2>
       Page Header
</h2> 

    

    <% if(locals.user){%>
        <h2><%=user.name%></h2>
        <h2>
            <a href="/users/signOut">Sign Out</a>
        </h2>
        <% } else {%>
            <h2 class="signIn-sec">
                <a href="/users/SignIn">Sign In</a>
                <a href="/users/SignUp">Sign Up</a>
            </h2>
            <%}%>

</header>